/* Basic styles */


.airdrop-container {
  width: 100%; /* Full width to fit mobile screens */
  max-width: 375px; /* Set max-width to simulate the mobile screen */
  height: 100vh;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto; /* Centers the container with a smaller margin */
  padding: 20px;
  color: white;
}









.user-profile {
  background-color: skyblue;  /* Purple background */
  color: black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px; /* Adjust the width */
  margin: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.coins {
  font-size: 14px;
  margin-top: 5px;
}

.header-link {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.header-link.active {
  border-bottom: 2px solid #007bff; /* Blue underline */
  color: skyblue; /* Change text color to blue */
}

.walletBox{
  text-align: center;
}
.walletBox button {
  color: black;
  padding: 4px;
  margin: 1rem 0;
  border-radius: 20% 20%;
  background-color: skyblue;
  font-weight: bolder;
  position: relative;
  overflow: hidden; /* Ensures the animation doesn't overflow the button */
}

.walletBox button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transform: skewX(-20deg); /* Adds a slanted lightning effect */
  animation: lighting 2s linear infinite; /* Infinite animation */
}

@keyframes lighting {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

