/* Basic styles */


.airdrop-container {
  width: 100%; /* Full width to fit mobile screens */
  max-width: 375px; /* Set max-width to simulate the mobile screen */
  height: 100vh;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto; /* Centers the container with a smaller margin */
  padding: 20px;
  color: white;
}




.wallet{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}


.walletBox button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transform: skewX(-20deg); /* Adds a slanted lightning effect */
  animation: lighting 2s linear infinite; /* Infinite animation */
}

@keyframes lighting {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

