/* Demo.css */
.container {
  position: relative;
  width: 400px; /* Adjust the width based on your requirement */
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.container button{
  margin: 2rem 0;
}
