.buttonc{
    width: 180px;
    height: 40px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bolder;
}
