.intro-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire screen */
}

.game-container {
    position: relative;
    width: 430px;
    margin: auto;
    height: 100vh;
    background: black; /* Deep purple background */
    overflow: hidden;
    color: white;
    text-align: center;
  }
  .rocket {
    position: absolute;
    bottom: 5%;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    transform: translateX(-50%); /* Center horizontally */
  }
  
  .coin {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  
  .coin.small {
    width: 50px;
    height: 50px;
    background: yellow; /* Small coin color */
    border-radius: 50%;
  }
  
  .coin.big {
    width: 80px;
    height: 80px;
    background: orange; /* Big coin color */
    border-radius: 50%;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: 2px solid gold; /* Gold border for big coin */
  }
  
  .game-over {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-top: 20%;
  }
  .claim-coins-button{
    background-color: skyblue;
    color: black;
    width: 40%;
    border-radius: 10%/10%;
  }
  