.game-container {
  position: relative;
  width: 400px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  background-color: black;
}

.intro-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% ;
  height: 100%;
}

.rocket {
  position: absolute;
  bottom: 15%;
  width: 100px;
  border-radius: 50%;
}

.coin {
  position: absolute;
  border-radius: 50%;
  transition: top 0.2s linear;
}

.coin-collapsed {
  transform: scale(0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.coin.large {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


.game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.claim-coins-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: skyblue;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}


/* Blurred background when instructions are shown */


/* Instructions overlay */
.instructions-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../assets/dark.jpg');
  background-size: cover;
  z-index: 10;
  color: white;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

/* Instruction arrows animation */
.arrow {
  font-size: 50px;
  animation: bounce 1s infinite alternate;
  margin: 10px;
}

.arrow-left {
  transform: rotate(90deg);
}

.arrow-right {
  transform: rotate(-90deg);
}
.game-container{
  background-image: url('../assets/dark.jpg');
  background-size: cover;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* Fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Start button */
.start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: skyblue;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}


@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Apply the explode animation */
.coin-explode {
  animation: explode 0.001s forwards;
}

/* Coin fragments */
.coin-fragment {
  margin-left: 25px;
  position: absolute;
  width: 10px; /* Small fragment size */
  height: 10px;
  border-radius: 50%; /* Make it circular */
  background-color: yellow; /* Fragment color */
  opacity: 1;
  animation: fragment-blast 0.5s ease-out forwards;
}

/* Explosion animation */
@keyframes fragment-blast {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(calc(var(--dx) * 50px), calc(var(--dy) * 50px)) scale(0.5);
    opacity: 0;
  }
}
