.lead {
  color: white;
  text-align: center;
}

h1 {
  font-size: 40px;
}

.circle {
  color: white;
  padding-top: 13px;
  background-color: rgb(43, 43, 43);
  padding-bottom: 6px;
  margin-top: 20px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 30px;
  border-radius: 18px;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.4),
    /* Soft shadow */ 0px 0px 20px rgba(244, 246, 246, 0.6); /* Glow effect */
}

.board {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 1px;
  margin-left: 24px;
  margin-right: 30px;
  border-radius: 18px;
  height: 60px;
  align-items: center;
}

.hold {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-size: 30px;
}

.items {
  display: flex;
  justify-content: space-between;
}

.user {
  margin-left: 20px;
  padding-top: 4px;
}

#user {
  margin-left: 20px;
}

.end {
  padding-right: 18px;
  padding-bottom: 10px;
}

.align {
  padding-left: 15px;
  padding-top: 10px;
}

.whole {
  width: 100%; /* Full width to fit mobile screens */
  max-width: 375px; /* Set max-width to simulate the mobile screen */
  height: 83vh;
  overflow-y: scroll;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: auto; /* Centers the container with a smaller margin */
  padding: 1px;
  color: white;
  background-image: url("../assets/dark.jpg");
}

.profileInitial {
  color: #000;
  font-weight: bold;
  font-size: 30px;
}
.profile {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin-right: -0.5rem;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.whole::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.whole {
  scrollbar-width: none;
}
