.mobile-container {
  width: 100%; /* Full width to fit mobile screens */
  max-width: 375px; /* Set max-width to simulate the mobile screen */
  height: 83vh;
  overflow-y: scroll;
  background-color: #000;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto; /* Centers the container with a smaller margin */
  padding: 20px;
  color: white;
}
.taskbtn{
  border: 1px solid white;
  color: white;
}
/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.mobile-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.mobile-container {
  scrollbar-width: none;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header-link {
  color: white;
  text-decoration: none;
}

/* Mobile Responsive Styling for screens up to 430px */
@media (max-width: 430px) {
  body {
    margin: 0; /* Ensure no margins */
  }

  .mobile-container {
    width: 100%;
    padding: 10px;
    margin: 20px auto;
  }

  .del-btn {
    width: 70px;
    height: 28px;
    font-size: 12px;
  }
}

.user-profile {
  background-color: rgb(43, 43, 43);
  color: white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px; /* Adjust the width */
  margin: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.coins {
  font-size: 14px;
  margin-top: 5px;
}

.header-link {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

.header-link.active {
  background-color: rgb(43, 43, 43);
  border-radius: 20px 20px 20px 20px;
  color: white; /* Change text color to blue */
  /* box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.4),
    0px 0px 20px rgba(244, 246, 246, 0.6); */
}
